#heading {
  background-color: rgb(255, 0, 0);
  color: white;
  margin-top: 0;
  margin-left: 0;
  padding: 25px;
  text-align: center;
  vertical-align: middle;
}

.topRowButtons {
  background-color: rgb(255, 0, 0);
  color: white;
  border: none;
  width: 25%;
  transition-duration: 0.4s;
  float:left;
  padding: 10px;

}

.topRowButtons:hover {
  background-color: white;
  color: rgb(255, 0, 0);
}

#caesarsLaunch {
  opacity: 0.6;
  cursor: not-allowed;
}

body {
  background-color: white;
  font-family: "Times New Roman", Times, serif;
}
