#heading {
  background-color: rgb(223, 121, 37);
  color: white;
  margin-top: 0;
  margin-left: 0;
  padding: 25px;
  text-align: center;
  vertical-align: middle;
}

.topRowButtons {
  background-color: rgb(223, 121, 37);
  color: white;
  border: none;
  width: 25%;
  transition-duration: 0.4s;
  float:left;
  padding: 10px;

}

.topRowButtons:hover {
  background-color: white;
  color: rgb(223, 121, 37);
}

#caesarsLaunch {
  opacity: 0.6;
  cursor: not-allowed;
}


.stripe {
  height: 300px;
  background-color: white;
  color :rgb(223, 121, 37);
}

.stripe2 {
  height: 300px;
  background-color: rgb(223, 121, 37);
  color : white;

}

.encodeButtons {
  height: 50px;
  background-color:  rgb(223, 121, 37);
  color:  white;
  border: 0;
  width:22.5%;
  margin: 0;
  padding-top: 0px;
  transition-duration: 0.4s
}

.encodeButtons:hover{
  background-color: white;
  color: rgb(223, 121, 37);
  border: 1px solid rgb(223, 121, 37);
}

.textAreas{
  width: 50%;
  height: 100px;
  margin-left: 25%;
  resize: none;
  margin-top: 10px;
  margin-bottom: 10px;

}

#caesarsEncode{
  margin-left: 25%
}

#caesarsStep{
  height: 47.5px;
  text-align: center;
  width : 5%;
  background-color:  rgb(223, 121, 37);
  color:  white;
  transition-duration: 0.4s;
  border:none;
}

#caesarsStep:hover{
  background-color: white;
  color: rgb(223, 121, 37);
  border: 1px solid rgb(223, 121, 37);
}

body {
  background-color: white;
  font-family: "Times New Roman", Times, serif;
  margin: 0;
}
