#heading {
  background-color: rgb(223, 121, 37);
  color: white;
  margin-top: 0;
  margin-left: 0;
  padding: 25px;
  text-align: center;
  vertical-align: middle;
}

.topRowButtons {
  background-color: rgb(223, 121, 37);
  color: white;
  border: none;
  width: 25%;
  transition-duration: 0.4s;
  float:left;
  padding: 10px;
  cursor: pointer;
}

.topRowButtons:hover {
  background-color: white;
  color: rgb(223, 121, 37);
}

#homeScreenButton {
  opacity: 0.6;
  cursor: not-allowed;
}

.infoButton{
  background-color:  rgb(223, 121, 37);
  color:  white;
  border: 0;;
  margin: 0;
  height: 20px;
  padding-top: 0px;
  transition-duration: 0.4s
  cursor : pointer;
}
.infoButton span{
  background-color: rgb(223, 121, 37);
  color: white;
  border: 1px solid rgb(223, 121, 37);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
}
.infoButton span : after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.infoButton:hover span{
  padding-right: 25px;

}
.infoButton:hover span::after{
  opacity: 1;
  right: 0;
}

#welcome{
  text-align: center;
  background-color : white;
  color: rgb(223, 121, 37);
  font-size: 40px;
}
body {
  background-color: white;
  margin: 0;
  font-family: "Times New Roman", Times, serif
}
