#heading {
  background-color: rgb(223, 121, 37);
  color: white;
  margin-top: 0;
  margin-left: 0;
  padding: 25px;
  text-align: center;
  vertical-align: middle;
}

.topRowButtons {
  background-color: rgb(223, 121, 37);
  color: white;
  border: none;
  width: 25%;
  transition-duration: 0.4s;
  float:left;
  padding: 10px;

}

.topRowButtons:hover {
  background-color: white;
  color: rgb(223, 121, 37);
}

#tapCiperLaunch {
  opacity: 0.6;
  cursor: not-allowed;
}

.headings{
  text-decoration: underline;

}

.stripe {
  height: 300px;
  background-color: white;
  color :rgb(223, 121, 37);
}

.stripe2 {
  background-color: rgb(223, 121, 37);
  color : white;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}

.encodeButtons {
  height: 50px;
  background-color:  rgb(223, 121, 37);
  color:  white;
  border: 0;
  width:25%;
  margin: 0;
  padding-top: 0px;
  transition-duration: 0.4s
}

.encodeButtons:hover{
  background-color: white;
  color: rgb(223, 121, 37);
  border: 1px solid rgb(223, 121, 37);
}

#tapCipherEncodeButton{
  margin-left: 25%;
  padding-right: 0px;

}

#tapCipherDecodeButton{
  padding-left: 0px;
}
#tapCipherInput{
  margin-left: 25%;
  width: 50.25%;
  height: 100px;
  margin-bottom: 10px;
  resize: none;
}

#tapCipherOutput{
  margin-top: 10px;
  margin-left: 25%;
  width: 50.25%;
  height: 100px;
  resize: none;
}

body {
  margin:0;
  background-color: white;
  font-family: "Times New Roman", Times, serif;
}
